

<h1>{{title}}</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Ex.Cat" [(ngModel)]="SearchWord">

        <button matSuffix mat-icon-button aria-label="Clear" (click)="search()">
          <mat-icon>search</mat-icon>
        </button>

      </mat-form-field>


    </div>
    <div class="col-sm">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Page Number</mat-label>
        <input matInput placeholder="1,2" [(ngModel)]="Pagenumber">

        <button matSuffix mat-icon-button aria-label="Clear" (click)="search()">
          <mat-icon>search</mat-icon>
        </button>

      </mat-form-field>

    </div>
    <div class="col-sm">


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Items Per Page</mat-label>
        <input matInput placeholder="1,2" [(ngModel)]="ItemsPerPage">

        <button matSuffix mat-icon-button aria-label="Clear" (click)="search()">
          <mat-icon>search</mat-icon>
        </button>

      </mat-form-field>

    </div>
  </div>
</div>


Total Images={{TotalImages}}
Total Pages={{Pages}}

<div class="container mt-4">
<h2>Photo Gallery</h2>

<div class="row">
<div class="col-md-4" *ngFor="let photo of TableData">
  <div class="card mb-4">
    <img class="card-img-top" [src]="photo.links.download" [alt]="photo.alt_description">
    <div class="card-body">
      <h4 class="card-title">{{photo.description || '-'}}</h4>
      <!-- Add other details or actions as needed -->
    </div>
  </div>
</div>
</div>
</div>

